<html data-ng-app="listaTelefonica">
<head>
    <title>Lista Telefonica</title>
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/bootstrap.css">
    <style>
        .jumbotron {
            width: 400px;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            margin-top: 20px;
        }
        .table {
            margin-top: 20px;
        }
        .form-control {
            margin-bottom: 5px;
        }
        .selecionado {
            background-color: yellow;
        }
        .negrito {
            font-weight: bold;
        }        
    </style>
    <script src="lib/angular/angular.js"></script>
    <script>
            angular.module("listaTelefonica", []);
            angular.module("listaTelefonica").controller("listaTelefonicaController", function ($scope) {
               $scope.app = "Lista Telefônica";
               $scope.contatos = [
                   {nome: "Pedro", telefone: "99998888", cor: "blue"},
                   {nome: "Ana", telefone: "99997777", cor: "yellow"},
                   {nome: "Maria", telefone: "99996666", cor: "red"},                                  
               ];
               $scope.operadoras = [
                   {nome: "Oi", codigo: 14, categoria: "Celular"},
                   {nome: "Vivo", codigo: 15, categoria: "Celular"},
                   {nome: "Tim", codigo: 41, categoria: "Celular"},
                   {nome: "GVT", codigo: 25, categoria: "Fixo"},
                   {nome: "Embratel", codigo: 21, categoria: "Fixo"}
               ];
               $scope.adicionarContato = function (contato) {
                  $scope.contatos.push(angular.copy(contato));
                  delete $scope.contato;
               };
               $scope.apagarContatos = function (contatos) {
                  $scope.contatos = contatos.filter(function (contato) {
                     if (!contato.selecionado) return contato;
                  });
               };
               $scope.isContatoSelecionado = function (contatos) {
                  return contatos.some(function (contato) {
                     return contato.selecionado;
                  });
               };
            });
     </script>
</head>
<body data-ng-controller="listaTelefonicaController">
    <div class="jumbotron">
        <h3>{{app}}</h3>
        <table data-ng-hide="contatos.length == 0" class="table">
            <tr>
                <th></th>
                <th>Nome</th>
                <th>Telefone</th>
                <th>Operadora</th>
                <th></th>
            </tr>
            <tr data-ng-class="{'selecionado negrito': contato.selecionado}" data-ng-repeat="contato in contatos">
                <td><input type="checkbox" data-ng-model="contato.selecionado"></input></td>
                <td>{{contato.nome}}</td>
                <td>{{contato.telefone}}</td>
                <td>{{contato.operadora.nome}}</td>
                <td><div style="width: 20px; height: 20px;" data-ng-style="{'background-color': contato.cor}"></div></td>
            </tr>
        </table>
        <hr/>
        <input class="form-control" type="text" data-ng-model="contato.nome" placeholder="nome" />
        <input class="form-control" type="text" data-ng-model="contato.telefone" placeholder="telefone" />
        <select class="form-control" data-ng-model="contato.operadora" data-ng-options="operadora.nome group by operadora.categoria for operadora in operadoras">
            <option value="">Selecione uma operadora</option>
        </select>
        <button class="btn btn-primary btn-block" data-ng-click="adicionarContato(contato)" data-ng-disabled="!contato.nome || !contato.telefone">Adicionar Contato</button>
        <button class="btn btn-danger btn-block" data-ng-click="apagarContatos(contatos)" data-ng-show="isContatoSelecionado(contatos)">Apagar Contatos</button>
    </div>
    <div data-ng-include="'footer.html'"></div>
</body>
</html>